html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: mediumpurple;
    color: rebeccapurple;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.jumbotron {
    font-size: 72px;
}
